#menu
{
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
	height: 35px;
	background: #9fabd9;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}	

li {
	width: calc(100% / 7); /*fit to the 7 categories*/
}

li a {
	color: #34495e;
	text-decoration: none;
	padding:8px 16px;
	border: 2px solid transparent;
	display: block;
	text-align: center;
	transition: all 0.3s;
}

li a:hover {
	background-color: #5c627b;
	color: white;
	transform: scale(1.05); 
	border-color: #9fabd9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
	text-align: justify; /* Justify text */
	text-align-last: left; /* Align last line to the left */
	padding: 1rem; /* Add padding to space the text from the edges */
	background-color: #dee2e6; /* Change background color */
	color: #495057; /* Change text color */
	font-family: 'Lato', sans-serif; /* Font family */
	font-size: 16px; /* Font size */
	line-height: 1.6; /* Line height */
	max-width: 800px;
	margin: 0 auto;
  }

h1 {
	text-align: center;
	margin-top: 50px; /* Adjust the margin-top as needed */
	color: #34495e; /* Text color */
	font-family: 'Lato', sans-serif; /* Font family */
	font-weight: bold; /* Font weight */
	font-size: 30px; /* Font size */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow */
  }
  
  h3 {
	font-size: 36px; 
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 1rem;
	font-family: 'Lato', sans-serif;
	color: #34495e;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow */

  }
  
  h3::before,
  h3::after {
	content: "";
	border-top: 0.1rem double #34495e;
	align-self: center;
	height: 2px;
	background-color: #9fabd9;
  }

  #qrcoder {
	text-align: center; /* Center align the content */
  }
  
  #qrcoder img {
	display: inline-block; /* Make the image display as an inline-block element */
  }


  #contact {
	text-align: center; /* Center-align the content */
  }
  
  #contact h3 {
	font-size: 36px; /* Adjust the font size as needed */
	margin-bottom: 20px; /* Add some spacing below the heading */
  }

  #photos {
	text-align: center; /* Center align the content */
	font-family: 'Lato', sans-serif;
	color: #34495e;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow */
  }

  .video-container {
	text-align: center; /* Center align the content */
  }
  
  .video-container iframe {
	display: inline-block; /* Make the video display as an inline-block element */
  }

  .like-button {
	text-align: center; /* Center align the content */
  }

  #like {
	text-align: center; /* Center-align the content */
  }

  .zic-web iframe{
	text-align: center; /* Center align the content */
	width: 60%; /* Set the width to 100% of the container */
	height: 600px; /* Set the height to 600 pixels */
	border: none;
  }